*{
    text-align: center;
    font-family: 'Dongle', sans-serif;
}
html{
    background-color: #120715;
    color:#ffffff;
    font-size: 24px;
}
body{
    width:640px;
    /* 너비에서 남는 여백을 자동으로 조절 */
    margin:auto;
    font-size: 20px;
    
}

h1{
    font-size: 48px;
    border-color: white;
}

img{
    width: 200px;
    height: 180px;
    border-radius: 80px;
}

p{
    font-size: 1.2rem;
}

ol{
    margin:auto;
}
li{
    font-size: 1.5rem;
    color:white;
    filter:brightness(150%)
}
#make{
    background-image: url(images/탕후루.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    filter:brightness(80%);
    background-size: cover;
    
}
